.arial-black,
body .galore-teaser-title {
    font-family: 'Arial Black', 'archivo_blackregular', sans-serif;
    font-weight: 400;
}

.galore-teaser-title {
    color: black;
    text-align: right;
    margin-top: 60px;
    font-size: 32px;
    letter-spacing: 2px;
}
