@font-face {
    font-family: 'CooperFiveOpti-Black';
    src:  url('fonts/cooper/CooperFiveOpti-Black.ttf.woff') format('woff'),
    url('fonts/cooper/CooperFiveOpti-Black.ttf.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archivo_blackregular';
    src: url('fonts/archivoblack/archivoblack-regular.woff2') format('woff2'),
         url('fonts/archivoblack/archivoblack-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

@import "pages/making-of-jack.css";
@import "pages/galore.css";
@import "pages/models.css";
@import "pages/peep-couture.css";
@import "components/sub-nav.css";

.cooper {
    font-family: 'CooperFiveOpti-Black';
    color: black;
    font-weight: normal;
}

.arial-black {
    font-family: 'Arial Black', 'archivo_blackregular', sans-serif;
    font-weight: 400;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.montserrat-italic {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}
