#masthead .subnav {
    font-size: 14px;
    margin: auto;
    letter-spacing: 2px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
#masthead .subnav:hover,
#masthead .subnav.expanded {
    display: flex;
    visibility: visible;
}
#masthead .subnav li {
    margin: 0;
}
#masthead .subnav a {
    display: block;
    padding: 8px 3px;
    border-bottom: 1px solid white;
    text-decoration: none;
}
#masthead .subnav a:hover {
    color: rgb(195,195,195);
    border-color: rgb(195,195,195);
}
body[data-path="issues_single"] #masthead .subnav {
}
@media (min-width: 670px) {
    #masthead {
        height: 65px;
    }
    #masthead .subnav a {
        height: 24px;
        line-height: 21px;
        padding-bottom: 0;
    }
    #masthead .subnav {
        top: 30px;
        height: auto;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.3em 1em 0.8em;
        visibility: hidden;
    }
    #masthead .subnav[data-parent="issues"] {
        left: calc(50% - 192px);
    }
    #masthead .subnav[data-parent="page-new"] {
        left: calc(50% + 200px);
    }
}
