#masthead .subnav {
    font-size: 16px;
    margin: auto;
    letter-spacing: 2px;
    background-color: white;
}
#masthead .subnav a {
    display: block;
    padding: 8px 3px;
    border-bottom: 1px solid white;
    text-decoration: none;
}
#masthead .subnav a:hover {
    color: rgb(195,195,195);
    border-color: rgb(195,195,195);
}
body[data-path="issues_single"] #masthead .subnav {
}
@media (min-width: 670px) {
    #masthead {
        height: 65px;
    }
    #masthead .subnav a {
        height: 30px;
        line-height: 21px;
    }
    #masthead .subnav {
        top: 30px;
        height: auto;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.3em 1em 0.8em;
        visibility: hidden;
    }
    #masthead .subnav:hover,
    #masthead .subnav.expanded {
        visibility: visible;
    }
    #masthead .subnav li {
        margin: 0;
    }
    #masthead .subnav[data-parent="issues"] {
        left: calc(50% - 196px);
    }
}
