.js body[data-route="page"] #page-content h1,
.screen-reader-text,
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html, body {
	margin: 0;
}
body {
	background-color: white;
	color: #6c6868;
	min-height: 100vh;
}
.js .hide-if-js,
.js .subnav {
    display: none;
}
header h1 {
	margin: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:not(.plain) {
	color: black;
}
img {
	max-width: 100%;
	height: auto;
    outline-style: none;
}
#masthead {
	background-color: white;
	position: sticky;
	top: 0;
	border-bottom: 1px solid #ededed;
}
#masthead ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#masthead li {
	margin: 0 4px 8px;
}
#header__logo {
	display: block;
	text-align: center;
}
#header__logo__img {
	height: 38px;
	width: auto;
}
#masthead .subnav {
    display: none;
}
.subnav,
#header__nav {
	text-transform: lowercase;
	font: 1.1rem Helvetica, sans-serif;
	letter-spacing: 1px;
}
#header__nav {
	justify-content: center;
	flex-wrap: wrap;
}
#header__nav li {
}
.subnav a,
#header__nav a {
	color: #d4d0d0;
}

header .far-right {
	position: fixed;
	top: 11px;
	right: 4px;
}
#header__social {
	justify-content: flex-end;
}
#header__social a {
    display: block;
	opacity: 0.2;
}
#header__social a:hover {
	opacity: 0.6;
}
#header__social .button--facebook { margin-right: 2px; }
#header__social .button--twitter { margin-right: 7px; }
#header__social img {
	height: 16px;
	width: auto;
}

@media (min-width: 670px) {
    #masthead {
        border-bottom-style: none;
    }
    #masthead > nav {
        display: flex;
        justify-content: space-between;
    }
    header .far-right {
        position: relative;
    }
    #header__logo__img {
        height: 63px;
    }
    #header__nav {
        font-size: 1.05rem;
        letter-spacing: 2px;
    }
    #header__nav a {
        margin: 0 15px;
        border-top: 3px solid white;
        padding-top: 5px;
        display: block;
        text-decoration: none;
    }
    #header__nav li.selected a,
    #header__nav a:hover {
        color: black;
        border-top-color: currentColor;
    }
    #header__social img {
        height: 18px;
    }
}

.page-background {
    position: fixed;
    top: 65px;
    left: 0;
}
.page-background img {
    width: 100vw;
    height: calc(100vh - 65px);
    object-fit: cover;
}
.page-background + #page-content {
    position: relative;
    z-index: 2;
}
#page-content {
	margin-top: 15%;
	padding: 0 10px;
	font: 18px/1.5 "Lusitana", serif;
}
#page-content .text-content {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    text-align: justify;
}

.event__details {
    text-align: center;
    margin: 1em 0 3em;
    font-size: 0.9em;
    line-height: 1;
}
.event__details p {
    margin: 0;
}
.event__images {
    max-width: 640px;
    margin: 0 auto;
}
.event__images img {
    display: block;
    margin: 2em auto;
}

.message-success {
    max-width: 720px;
    margin: 0 auto 1em;
    padding: 0.7em 1em;
    background-color: #d1f1d1;
    color: #696311;
}
#form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    max-width: 720px;
    margin: 0 auto;
    grid-gap: 0.8em;
}
#form > div:nth-child(1),
#form > div:nth-child(3) {
    grid-column: 1;
}
#form > div:nth-child(3) {
    grid-row: 2;
    justify-self: end;
    align-self: start;
}
#form > div:nth-child(2) {
    grid-row: 1 / span 2;
}
#form input,
#form textarea {
    width: 100%;
    padding-left: 1em;
    font-size: 1.1rem;
    font-family: inherit;
}
#form input {
    height: 2.6em;
}
#form textarea {
    height: 10em;
    padding-top: 0.6em;
}
#form label {
    position: absolute;
    visibility: hidden;
    left: 0;
}
#form button {
    display: block;
    text-transform: uppercase;
    border-style: none;
    padding: 0.8em 1.1em;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 0.8em;
}
#form ul {
    list-style-type: none;
    padding: 0.6em 1em;
    margin: 0 0 0.5em;
    background-color: #efb5b5;
    color: #903232;
    font-size: 0.9em;
}

.issue-layouts {
    text-align: center;
}
.issue-layouts article {
    margin-bottom: 3em;
}
.issue-layouts img {
    max-height: 50vh;
    max-width: 720px;
    object-fit: contain;
}
