{% extends 'page.html.twig' %}

{% block content %}

<main id="page-content" data-tags="{{ page.tags ?? '' }}">
    {% for event in events %}
    {% include 'partial/event.html.twig' %}
    {% endfor %}
</main>

{% endblock %}
