{% for item in site.mainmenu %}
<li
    data-section="{{ item.section }}"
    {% if item.route == routeName %}class="selected"{% endif %}
>
    <a class="plain" href="{{ item.url }}">{{ item.title }}</a>
</li>
{% endfor %}
