<ul class="subnav" data-parent="issues">
    {% for issue in site.issues %}
    <li data-slug="{{ issue.slug }}">
        <a href="{{ issue.url }}">{{ issue.title }}</a>
    </li>
    {% endfor %}
</ul>
